<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default `en` }}">
{{ partial "head.html" . }}
<body>
  <article class="post" id="article">
    {{ partial "header.html" . }}
    <main id="main-content">
      <header class="post-header">
        <p class="overline">{{ with .Section }}{{ . | humanize }}{{ else }}page{{ end }}</p>
        <h1 class="post-title">{{ .Title }}</h1>
        {{ if in .Site.Params.mainSections .Type }}
        <div class="row post-desc">
          <div class="col-xs-6">
            {{ if .Date }}<time class="post-date" datetime="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">{{ .Date.Format "02 Jan 2006" }}</time>{{ end }}
          </div>
          <div class="col-xs-6">
            {{ with .Site.Params.author.name }}<div class="post-author"><a href="{{ `about/` | relURL }}">@{{ . }}</a></div>{{ end }}
          </div>
        </div>
        {{ end }}
      </header>

      <div class="post-content markdown-body">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </div>

      {{ with .Params.tags }}
      <div class="post-content" aria-label="Tags">
        {{ range . }}<span class="post-tags"><a href="{{ printf `tags/%s/` (lower . | urlize) | relURL }}">{{ . }}</a></span>{{ end }}
      </div>
      {{ end }}

      {{ if in .Site.Params.mainSections .Type }}{{ partial "related.html" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </article>
  {{ partial "scripts.html" . }}
</body>
</html>
