<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}

        <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
          {{ with .Content }}
          <div class="post-content markdown-body section-intro">{{ . }}</div>
          {{ end }}
        </header>

        <div class="feature-list">
          {{ range .Pages.ByDate.Reverse }}
          <a class="feature-item" href="{{ .RelPermalink }}">
            <div class="feature-meta">{{ .Date.Format "02 Jan 2006" }}</div>
            <h2>{{ .Title }}</h2>
            <p>{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}</p>
          </a>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>
</html>
